export POSTGRES_PASSWORD=blah.de.blah.de.blah
export BACKUP_ROOT=~/DropboxST/Development/bapug/database/backups
export LOCAL_BACKUPS=~/DropboxST/Development/bapug/database/local
export DJPORT=8000
export PG_PORT=5457
export REDIS_PORT=6477
export ELASTIC_PORT=9297
export HOTPORT=8087
export MAILHOG_SMTP=1027
export MAILHOG_HTTP=8027
export NAME=bapug
